<%-include('./header.ejs') -%>

<h2>this is the about page</h2>

<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste, quisquam ad
  eligendi quod quis dolore neque quos eveniet voluptas voluptates recusandae
  cum sunt, rerum accusamus veniam iusto voluptate veritatis. Mollitia.
</p>

<%-include('./footer.ejs') -%>
